.navbar {
    height: 80px;
    padding: 15px;
    background: #333;
    border-color: #333;
    color: #fff;
    position: fixed
}

.navbar .navbar-nav li a{
    color: #fff;
}

.navbar .navbar-nav li a:hover{
    background: #c0392b;
    color: #fff;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar .logo {
    max-width: 85px;
    margin-top: -35px;
}

.search{
    width: 200px;
    margin-top: 10px;
    margin-right: 10px;
}

.link:hover{
    background: #c0392b;
    color: #fff;
    text-decoration: none !important;
}

.navbar .navbar-brand {
    color: #fff;
}

.link{
    padding: 15px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none !important;
}
.fa{
    font-size: 20px;
}

.open{
    display: block;
}

.close {
    display: none;
}

.drop{
    width: 400px;
    background: #f8f8f8;
    border: 1px solid #f0f0f0;
    color: #333;
    position: absolute;
    right: 20px;
    top: 70px;
    width: 500px;
    padding: 20px;
}

.ul-up{
    margin-left: -25px;
}

#session .nav-tabs>li{
    width: 50%;
}

#session{
    width: 100%;
    min-width: 100%;
    margin-top: -15px;
}

#session .nav-tabs{
    width: 100%;
    background: #fff;
    
}

#session .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #333;
    background: transparent !important;
}

#session .nav-tabs>li>a {
    color: #333;
}

#session .nav-tabs>li>a:hover{
    border-radius: 0px !important;
    background: #fff;
    color: #333;
    border-color: transparent;
}

#session .sessionItem {
    padding: 80px !important;
}
.btnClose{
    color:#333;
    font-size: 20px !important;
}
.btnClose:hover{
    color:#c0392b;
}