.cover {
   height: auto;
    max-height: 185px;
    min-height: 185px;
    width: 200px;
    margin: 0 auto;
    display: block;
}

.card:hover{
    box-shadow: 0px 5px 10px #999;
    padding: 20px;
}
.card{
    padding: 20px;
}

.hide{
    display: none;
}

.relative{
    position: relative !important;
}