.CategoryShop {
    height: 100%;
    padding: 100px 20px;;
}

.CategoryShop img {
    height: auto;
    width: 120px;
}

.CategoryShop .pd10{
    padding-left: 20px !important;
}


.CategoryShop .paddingTabs {
    padding: 50px 20px !important;
}

.CategoryShop .ht {
    max-height: 169px !important;
}

.CategoryShop .banners {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    display: block;
}

.CategoryShop .minH{
    margin-top: 60px;
    min-height: 300px;
}

.CategoryShop .mb{
    margin-bottom: 20px !important;
}