.Banns{
    padding-top: 120px !important;
}
.Banns .carouselImg {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    display: block;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
}

